html
head
    title NFL Teams
    
h1 National Football League Teams by State
 table(border ='1', style='width: 250px;')
  tr
   th State
   th Team
   tr
     tr
      td #{team.State}
      td #{team.Team} 
