extends layout
block content
  h1 National Football League Teams
  h2
    | Click&nbsp;
    a(href='setupDB') here to reload.
    |&nbsp;Click on a state to see their NFL team!
  #container
   h3 NFL Teams by States.
   h4 Most states do not have teams as of yet. 
   p Such state will display no information.
